* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.section {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
    position: relative;
    width: 100%;
}

.section-title {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
}

/* Background colors for each section */
.section:nth-child(1) {
    background-color: #ffcccc; /* Light Red */
}

.section:nth-child(2) {
    background-color: #ccffcc; /* Light Green */
}

.section:nth-child(3) {
    background-color: #ccccff; /* Light Blue */
}

@media (min-width: 992px) {
    .section {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 45%;
    }
    #sushi {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}
